<div class="bg-newsletter">
    <div class="newsletter-area">
        <div class="container">
            <div class="row newsletter-wrap align-items-center">
                <div class="col-lg-6 pr-5">
                    <div class="newsletter-item">
                        <p>Get The Latest News</p>
                        <h2>Subscribe To Newsletter</h2>
                    </div>
                    <div class="newsletter-item">
                        <div class="newsletter-form">
                            <form class="newsletter-form input-group">
                                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL">
                                <button class="btn newsletter-btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 pl-5">
                    <h6>Need More Info?</h6>
                    <h5>Call Us</h5>
                    <h1><a href="tel:+8329986598">832-998-6598</a></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tagline-newsletter w-75 m-auto">
            Trust <span>Our Clients</span> because <br> they stand behind our experience
        </div>
        <div class="row newsletter-below py-5 w-75 m-auto">
            <div class="col-2 m-auto">
                <img src="assets/img/custom/pic1.jpeg" alt="" class="">
            </div>
            <div class="col-10">
                <div class="text">Lorem ipsum dolor sit adipisicing , iusmod incididunt ut ero labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempot
                    <div>Jenifer Brown <span>CEO of SunPark</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="pb-5">
    <div class="container">
        <div class="appointment-area">
            <div class="appointment w-100">
                <h2>Make An Appointment</h2>
                <form action="/" class="form">
                    <div class="form-row">
                        <div class="col-4">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-4">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-4">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-row my-3">
                        <div class="col-12">
                            <textarea name="message" id="message" class="form-control" cols="" rows="5" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-12 text-right">
                            <input type="submit" value="Submit" class="btn btn-danger">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center">

            <img src="assets/img/custom/logo-footer.png" alt="">
            <ul class="pt-5">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Treatments</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="social-icons">
                <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="icofont-pinterest"></i></a></li>
            </ul>
            <ul class="pt-1">
                <li><a href="tel:+4048500135" target="_blank"><i class="icofont-headphone-alt"></i>Call us: (404)850-0135</a></li>
                <li><a href="mailto:Contact@company.com" target="_blank"><i class="icofont-paper-plane"></i>Contact@company.com</a></li>
            </ul>

        </div>
    </div>

</footer>

<div class="copyright-area">
    <div class="container">
        <div class="copyright-item">
            <p>Copyright © 2021 <a href="#">healwithhomeopathy</a>. All Rights Reserved</p>
        </div>
    </div>
</div>
